$neutral-1: #333;
$neutral-2: red;
$neutral-3: #bdbdbd;
$neutral-4: #dcdcdc;
$neutral-fade-3: rgba(255, 255, 255, 0.3);
// Comment palette
$comment-main-1: #c05303;
$comment-main-2: #ff9b0b;
$comment-support-1: #7d7569;
$comment-support-2: #efefec;
$comment-support-3: #ffce4b;
$comment-support-4: #e6711b;
$comment-support-4-fade-95: rgba(230, 113, 27, 0.95);

$error: #d61d00;

$news-main-1: #005689;
$news-main-2: #4bc6df;
$mix-news-default-neutral-4: #6e99b3;

$guardian-brand: #005689;
$guardian-brand-dark: #00456e;

$gs-baseline: 0.75rem;
$gs-span: 80px;
$gs-gutter: 1.25rem;
$base-size: calc($gs-baseline / 2);

$mobile: 320px;
$tablet: 740px;
$desktop: 980px;
$wide: 1300px;

$font-sans: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

@define-mixin text-size-4 {
    font-size: 0.875rem;
    line-height: 1.375rem;
}
