@import "../styles/_vars.scss";

.bannerContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $comment-support-4-fade-95;
    color: #fff;
    font-family: $font-sans;
    z-index: 1100;
    font-size: 90%;
    transition: transform 500ms ease;
    overflow: hidden;
    padding: 6px 0;
}

.topBannerContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $comment-support-4-fade-95;
    font-family: $font-sans;
    z-index: 1100;
    font-size: 90%;
    transition: transform 500ms ease;
    text-align: right;
    padding: 6px 10px;
}

.badgeContainer {
    position: fixed;
    bottom: calc($gs-baseline * 1.5);
    right: $gs-baseline;
    background-color: $comment-support-4-fade-95;
    font-family: $font-sans;
    font-size: 75%;
    z-index: 1100;
    width: 56px;
    height: 56px;
    border-radius: 1000px;
    transition: transform 500ms ease;
    box-shadow: 0 10px 30px 3px rgba(0, 0, 0, 0.35);
}

.promote {
    z-index: 1;
}

.bannerBubble {
    position: absolute;
    top: 6px;
    left: 10px;
}

.bannerText {
    line-height: 18px;
    font-size: 16px;
    padding: 0 57px 0 62px;
    display: table-cell;
    vertical-align: middle;
    height: 36px;
}

.bannerTextWide {
    line-height: 18px;
    font-size: 16px;
    padding: 0 10px 0 62px;
    display: table-cell;
    vertical-align: middle;
    height: 36px;
}

.bannerClose {
    position: absolute;
    top: 6px;
    right: 10px;
    fill: #fff;
    padding: 0;
}

.bubble {
    text-align: center;
}

.bubble svg {
    width: 42px;
    height: 35px;
}

.badgeContainer .bubble {
    position: relative;
    top: 0.8rem;
}

.bubbleText {
    width: 42px;
    line-height: 28px;
    position: absolute;
    font-weight: bold;
    color: $guardian-brand-dark;
}

.visible {
    transform: translateY(0);
}

.hiddenBelow {
    transform: translateY(100%);
}

.hiddenBelowWithMargin {
    transform: translateY(180%);
}

.hiddenAbove {
    transform: translateY(-100%);
}

.linksList {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 2.2rem;
    overflow-y: hidden;
}

.linksItem {
    float: right;
    margin-left: 5px;
}
